.HeaderContainer {
    grid-area: navigation;
    text-decoration: none !important;
    font-family:'Inter';
    font-size: 24px;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 2px 11px 2px rgba(0, 0, 0, 0.25);

    a{
        color: black;
        display: inline-flex;
        padding-left: 3%;
        padding-top: 3%;

    }
    img{
        display: inline-flex;
        height: 80px;
        padding-left: 6%;
    }
}
.NavGrid{
    display: grid;
    grid-template-columns: 7% 93% ;
    align-content: center;

 
}
.FooterContainer {
    grid-area: footer;
    text-decoration: none !important;
    font-family:'Inter';
    font-size: 24px;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #F4F4F4;
    a{
        color: black;
        display: inline-flex;
        padding-left: 3%;
    }
}
.App {
    display: grid;
        grid: 
        'navigation navigation'
        'leftside rightside'
        'leftside rightside'
        'bottom bottom'
        'footer footer';
    font-family: 'Inter';
    font-style: normal;
}

.rightSide {
    grid-area: rightside;
    padding-top: 10%;
    padding-right: 12%;
    padding-bottom: 10%;
    img{
        width: 100%;
        height: 100%;
        filter: drop-shadow(-15px 22px 4px rgba(0, 0, 0, 0.25));
    }
}

.bottom { 
    grid-area: bottom;

    img{
        width:30%;
        padding-left: 2%;
    }
}

.leftSide {
    grid-area: leftside;
    padding-left: 3.5%;
    h1{
        font-size: 64px;
        font-weight: 700;
    }
    
    h2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 97.02%;
        padding-top: 23%;
    }

    p {
        padding-bottom: 7%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
    }

    button{
        background: #B20CED;
        border: 5px solid #000000;
        border-radius: 102px;
        color: #fff;
        padding: 14px 70px;
        font-size: 24px;
        cursor: pointer;
    }
}

.Recipes {
    padding-top: 3%;
    padding-left: 3%;
    display: grid;
        grid: 
        'TopLeft TopMid TopRight'
        'BotLeft BotMid BotRight';
    img{
        width: 60%;
        cursor: pointer;
    }
}

.topLeft {
    grid-area: TopLeft;
}

.topMid {
    grid-area: TopMid;
}

.topRight {
    grid-area: TopRight
}

.botLeft {
    grid-area: BotLeft;
}

.botMid {
    grid-area: BotMid;
}

.botRight {
    grid-area: BotRight
}

.recipeGrid {
    display: grid;
    grid-template-columns: 40% 60% ;

}

.topImage{
    margin-left: 20%;
    margin-top: 5%;
    img{
        width: 75%;
    }
}

.topText{
    margin-top: 1.5%;
    h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    }
    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
    }

    button{
        background: #000000;
        color: white;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0.3%;
        padding-bottom: 0.3%;
    }

    h2{
        color: red;
    }
}


.GridContact{
    display: grid;
    grid-template-columns: 40% 60%;
}

.LeftSide{
    padding: 0.8rem 0.8rem 0.8rem 10.0rem;
    label {
        display: block;
        font-weight: bold;
        
    }
    button {
        background: #B20CED;
        border: 5px solid #000000;
        border-radius: 102px;
        color: #fff;
        padding: 14px 70px;
        font-size: 24px;
        cursor: pointer;
        margin-top: 5%;
    }
    textarea {
        width: 100%;
        height: 200px;
    }
    h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
    }

    label{
        margin-top: 5%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
}

.RightSide{
    filter: drop-shadow(-20px 18px 4px rgba(0, 0, 0, 0.25));
    padding: 3.0rem 0.8rem 0.8rem 10.0rem;

}

.GridAbout{
    display: grid;
    grid-template-columns: 40% 60%;
}

.LeftSide2{
    padding: 0.8rem 0.8rem 0.8rem 10.0rem;
    label {
        display: block;
        font-weight: bold;
        
    }
    button {
        background: #B20CED;
        border: 5px solid #000000;
        border-radius: 102px;
        color: #fff;
        padding: 14px 70px;
        font-size: 24px;
        cursor: pointer;
        margin-top: 5%;
    }
    textarea {
        width: 100%;
        height: 200px;
    }
    h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
    }

    label{
        margin-top: 5%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    h2{
        margin-top: 15%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
    }
}

.RightSide2{
    filter: drop-shadow(-20px 18px 4px rgba(0, 0, 0, 0.25));
    padding: 3.0rem 0.8rem 0.8rem 10.0rem;

}

.Icons{
    height: 32px;
}

.ListGrid{
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 80%;
    margin-top: 5%;
    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
    }
    img{
        width: 80%;
    }

    li{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
    }

    h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
    }
}
